@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0A0423;
  --color-accent: #8B5CF6;
  --color-gold: #F59E0B;
  --color-dark: #1A1B3E;

  --font-primary: 'Lexend', sans-serif;
  --font-secondary: "Inter", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* hides all the element above > 780px below it hide them */
@media (min-width: 780px) {
  .max-xs\:hidden {
    display: none;
  }
}

/* hides all the child elements except the last elmenet */
@media (max-width: 780px) {
  .max-xs\:only-last-child > *:not(:last-child) {
    display: none;
  }
}

@media (max-width: 900px) {
  .custom-lg-queries{
    @apply top-[90%] left-[10%] right-[50];
  }
}

@media (max-width: 750px) {
  .custom-md-queries{
    @apply top-[90%] left-[2%] right-[50];
  }
}
@media (max-width: 700px) {
  .custom-block-queries{
    @apply block;
  }
}



::-webkit-scrollbar {
  width: 6px;
  background-color: #0A0423;
}

::-webkit-scrollbar-track {
  background-color: #0A0423;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1a0d47;
  border-radius: 4px;
}

html {
  scrollbar-gutter: stable;
}

.listbox-options::-webkit-scrollbar {
  width: 6px;
  background-color: #0A0423;
}